// ***************************************************
//        MAIN CONTENT - LATEST ARTICLES SECTION
// ***************************************************

.latest-articles {
    background-color: $very-light-gray;
    padding: 8rem 0;

    @include for-medium-screens {
        padding: 12rem 0;
    }

    // --- Container content ---
    .container-content {
        @include for-extra-large-screens {
            align-items: flex-start;
            text-align: left;
        }
    }

    // --- Title ---
    &__title {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    // --- Articles container ---
    &__articles-container {
        text-align: left;
        @extend .why-choose-easybank__articles-container;
    }

    // --- Article ---
    &__article {
        @extend .why-choose-easybank__article;
        border-radius: 1rem;
        box-shadow: 0 0 15px rgba(#aaa, .2);
        font-size: 1.4rem;
        max-width: 33rem;
        padding-bottom: 4rem;

        @include for-medium-screens {
            max-width: 28rem;
        }

        @include for-extra-large-screens {
            max-width: 25rem;
        }

        &-author,
        &-title,
        &-description {
            padding: 0 2.5rem;
        }

        &-img {
            border-radius: 1rem 1rem 0 0;
            width: 100%;

            @include for-medium-screens {
                height: 22rem;
                object-fit: cover;
                object-position: center;
            }

            @include for-extra-large-screens {
                height: 20rem;
            }

        }

        &-author {
            margin-top: 3rem;

            @include for-extra-large-screens {
                font-size: 1rem;
            }
        }

        &-title {
            font-size: 1.6rem;
            margin: 1.5rem auto;

            a {
                color: $dark-blue;
                text-decoration: none;
                transition: color .5s;

                &:hover {
                    color: $lime-green;
                }

                &:active {
                    color: darken($lime-green, 15%);
                }
            }
        }

        &-description {
            line-height: 2.2rem;

            @include for-extra-large-screens {
                font-size: 1.2rem;
            }
        }

    }
}