// **************************
//       MAIN HEADER
// **************************

.main-header {
    background-image: url(../../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    padding-bottom: 8rem;
    display: none !important;

    &__content {
        // margin-top: 3rem;
        max-width: 37rem;
        text-align: center;
    }

    &__title {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    &__description {
        line-height: 2.4rem;
        margin: 3rem auto;
    }

    &__mockup-container {
        order: -1;
        // position: relative;
    }

    &__mockup {
        transform: translateY(-10%);
    }
}