// **************************
//        MAIN CONTENT
// **************************

.main-content {
    // display: none !important;
}

.why-choose-easybank {
    background-color: $light-grayish-blue;
    padding: 8rem 0;

    @include for-medium-screens {
        padding: 12rem 0;
    }

    // @include for-extra-large-screens{
    //     padding: 15rem 0;
    // }

    .container-content {
        text-align: center;
        line-height: 2.4rem;

        @include for-extra-large-screens {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__articles-container {
        @include for-medium-screens {
            @include flexbox($flow:row wrap, $justify:space-evenly);
            width: 100%;
            max-width: 70rem;
        }
        @include for-extra-large-screens {
            justify-content: space-between;
        max-width: 100%;
        }

    }

    &__title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    &__description {
        margin: 2rem auto 4rem;
        max-width: 40rem;
        @include for-extra-large-screens{
            margin: 2rem 0 4rem;
            max-width: 60rem;
        }
    }

    &__article {
        @include bdr;
        margin-bottom: 3.5rem;
        max-width: 35rem;

        @include for-medium-screens {
            max-width: 25rem;
        }

        &-title {
            margin: 2rem auto;
        }
    }
}

.latest-articles {
    background-color: $very-light-gray;
    padding: 8rem 0;

    @include for-medium-screens {
        padding: 12rem 0;
    }

    &__container {
        text-align: left;
    }

    &__title {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    &__content-container {
        @extend .why-choose-easybank__articles-container;

    }

    &__article {
        @extend .why-choose-easybank__article;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(#aaa, .3);
        font-size: 1.4rem;
        max-width: 33rem;
        padding-bottom: 4rem;

        @include for-medium-screens {
            max-width: 28rem;
        }

        &-author,
        &-title,
        &-description {
            padding: 0 2.5rem;
        }

        &-img {
            border-radius: 1rem 1rem 0 0;
            width: 100%;

            @include for-medium-screens {
                height: 22rem;
                object-fit: cover;
                object-position: center;
            }

        }

        &-author {
            margin-top: 3rem;
        }

        &-title {
            font-size: 1.6rem;
            margin: 1.5rem auto;
        }

        &-description {
            line-height: 2.2rem;
        }

    }
}