// **************************
//       MAIN FOOTER
// **************************

.main-footer {
    background-color: $dark-blue;
    color: $white;

    .container-content {
        margin: 3rem auto;

        @include for-medium-screens {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    // Navbar
    &__navbar {
        margin: 3rem auto;
        text-align: center;

        @include for-medium-screens {
            margin: 0;
            text-align: left;
            display: flex;
            max-width: 30rem;
        }

        @include for-extra-large-screens {
            margin-right: auto;
            margin-left: 10rem;
        }
    }

    &__nav {
        list-style-type: none;

        @include for-medium-screens {
            &:first-of-type {
                margin-right: 2rem;

            }
        }

        @include for-extra-large-screens {
            &:first-of-type {
                margin-right: 10rem;

            }
        }
    }

    &__nav-link {
        color: $very-light-gray;
        display: block;
        margin: 1rem 0;
        text-decoration: none;
        transition: color .5s;

        &:hover {
            color: $lime-green;
        }

        &:active {
            color: lighten($lime-green, 15%);
        }
    }

    // CTA
    &__cta {
        text-align: center;

        @include for-extra-large-screens {
            text-align: right;
        }
    }

    &__copy {
        margin-top: 3rem;
    }
}

.social-media-info {
    text-align: center;
    width: 100%;
    max-width: 20rem;

    &__logo {
        width: 130px;
        height: 25px;
    }

    &__links-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-size: 2rem;
        transition: all .5s;

        &:hover {
            color: $lime-green;
            transform: scale(1.1);
        }

        &:active {
            color: lighten($lime-green, 15%);
            transform: none;
        }
    }
}