// *****************************************************
//        MAIN CONTENT - WHY CHOOSE EASYBANK SECTION
// *****************************************************

.why-choose-easybank {
    background-color: $light-grayish-blue;
    padding: 8rem 0;

    @include for-medium-screens {
        padding: 12rem 0;
    }

    // --- Container content ---
    .container-content {
        text-align: center;
        line-height: 2.4rem;

        @include for-extra-large-screens {
            align-items: flex-start;
            text-align: left;
        }
    }

    // --- Title ---
    &__title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    // --- Description ---
    &__description {
        margin: 2rem auto 4rem;
        max-width: 40rem;

        @include for-extra-large-screens {
            margin: 2rem 0 4rem;
            max-width: 60rem;
        }
    }

    // --- Articles container ---
    &__articles-container {
        @include for-medium-screens {
            @include flexbox($flow:row wrap, $justify:space-evenly);
            width: 100%;
            max-width: 70rem;
        }

        @include for-extra-large-screens {
            justify-content: space-between;
            max-width: 100%;
        }

    }

    // --- Article ---
    &__article {
        margin-bottom: 3.5rem;
        max-width: 35rem;

        @include for-medium-screens {
            max-width: 25rem;
        }

        &-title {
            margin: 2rem auto;
        }

        &-description {
            @include for-extra-large-screens {
                font-size: 1.5rem;
            }
        }
    }
}