// **************************
//         CONTAINERS
// **************************

.main-container {
    
    @include flexbox;
    background-color: $white;
    font-size: 1.6rem;
    overflow-x: hidden;
}

.container-section {
    
    @include flexbox;
    width: 100%;
}

.container-content {
    @include flexbox;
    width: 85%;
    max-width: 60rem;

    @include for-medium-screens {
        width: 90%;
        max-width: 90rem;
    }

    @include for-large-screens {
        max-width: 100rem;
    }

    @include for-extra-large-screens {
        max-width: 110rem;
    }
}