// **************************
//     SOCIAL MEDIA INFO
// **************************

.social-media-info {
    text-align: center;
    width: 100%;
    max-width: 20rem;

    &__logo {
        width: 130px;
        height: 25px;
    }

    &__links-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-size: 2rem;
        transition: all .5s;

        &:hover {
            color: $lime-green;
            transform: scale(1.1);
        }

        &:active {
            color: lighten($lime-green, 15%);
            transform: none;
        }
    }
}